<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 인터넷 접근권한 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 위치 권한 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_petmate"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_petmate"
        android:supportsRtl="true"
        android:theme="@style/Theme.PetMate"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Splash"
            android:theme="@style/splash"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pet.main.PetMainAddPetActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".myinf.MyinfPhotoActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".navigation.BottomNavAnonyActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".walk.WalkActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".login.Login10Activity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".navigation.BottomNavActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".login.Login00Activity"
            android:screenOrientation="portrait"
            android:exported="true">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity
            android:name=".login.Login10PetseekerActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:screenOrientation="portrait"
            android:value="aa83d258ee2400b0ff3f097639f7af1f" />
    </application>

</manifest>